debug {
  @if $variant == 'dark' { background-color: red; }
  @else { background-color: blue; }
}

* {
    engine: adwaita;
    padding: 0;
    background-clip: padding-box;
    -GtkToolButton-icon-spacing: 4;
    -GtkTextView-error-underline-color: $error_color;
    -GtkPaned-handle-size: 5;

    -GtkCheckButton-indicator-size: 16;
    -GtkCheckMenuItem-indicator-size: 12;

    /* The size for scrollbars. The slider is 2px smaller, but we keep it
     * up so that the whole area is sensitive to button presses for the
     * slider. The stepper button is larger in both directions, the slider
     * only in the width
     */

    -GtkScrolledWindow-scrollbar-spacing: 0;
    -GtkScrolledWindow-scrollbars-within-bevel: 1;

    -GtkToolItemGroup-expander-size: 11;
    -GtkExpander-expander-size: 11;
    -GtkTreeView-expander-size: 11;

    -GtkTreeView-horizontal-separator: 4;

    -GtkMenu-horizontal-padding: 0;
    -GtkMenu-vertical-padding: 0;

    -GtkWidget-link-color: $link_color;
    -GtkWidget-visited-link-color: $link_color;

    -GtkWidget-focus-padding: 2;
    -GtkWidget-focus-line-width: 1;
    -GtkWindow-resize-grip-width: 0;
    -GtkWindow-resize-grip-height: 0;   

    // We use the outline properties to signal the focus properties
    // to the adwaita engine: using real CSS properties is faster,
    // and we don't use any outlines for now.

    outline-color: transparentize($theme_fg_color, 0.3);
    outline-style: dashed;
    outline-offset: 2px;
}

/***************
 * Base States *
 ***************/

.background {
    color: $theme_fg_color;
    background-color: $theme_bg_color;
}

.background:backdrop {
    /* I want everything nice and flat in the unfocused window */
    text-shadow: none;
    icon-shadow: none;

    color: lighten($theme_fg_color,10%);
}

*:selected,
*:selected:focus {
    background-color: $theme_selected_bg_color;
    color: $theme_selected_fg_color;
}

*:selected:backdrop {
    background-color: $theme_selected_bg_color;
    color: $theme_selected_fg_color;
}

*:insensitive {
    background-color: $insensitive_bg_color;
    color: $insensitive_fg_color;
    border-color: lighten($borders,10%);
}

*:insensitive:backdrop {
    /* I want everything nice and flat in the unfocused window */
    text-shadow: none;
    icon-shadow: none;
    color: lighten($theme_fg_color,10%);
}

/* Apply effects to insensitive and prelit images */
*:insensitive {
    -gtk-image-effect: dim;
}

*:hover {
    -gtk-image-effect: highlight;
}
*:hover {
    -gtk-image-effect: highlight;
}

.gtkstyle-fallback {
    background-color: $theme_bg_color;
    color: $theme_fg_color;
}

.gtkstyle-fallback:prelight {
    background-color: lighten($theme_bg_color, 10%);
    color: $theme_fg_color;
}

.gtkstyle-fallback:active {
    background-color: darken($theme_bg_color, 10%);
    color: $theme_fg_color;
}

.gtkstyle-fallback:insensitive {
    background-color: $insensitive_bg_color;
    color: $insensitive_fg_color;
}

.gtkstyle-fallback:selected {
    background-color: $theme_selected_bg_color;
    color: $theme_selected_fg_color;
}

GtkImage,
GtkImage:insensitive,
GtkLabel,
GtkLabel:insensitive,
GtkBox,
GtkBox:insensitive,
GtkGrid,
GtkGrid:insensitive {
    background-color: transparent;
}

// spinner animation
@import 'spinner';

/****************
 * Text Entries *
 ****************/
 
.entry {
  padding: 4px;
  color: $theme_fg_color;
  @include draw_entry($borders, $theme_base_color);
  transition: all 200ms ease-out;
}

/***********
 * Buttons *
 ***********/

.button,
.toolbar .button.raised,
.toolbar .raised .button,
.toolbar GtkComboBox .button,
.spinbutton.vertical .button {
  border-radius: 3px;
  transition: all 200ms ease-out;
  @include draw_button(null,null);
  &:hover {
    $fill: linear-gradient(to bottom,
                                      lighten($theme_bg_color,15%),
                                      lighten($theme_bg_color,10%),
                                      $theme_bg_color);
    @include draw_button(null,$fill);
  }
  &:active {
    $fill: linear-gradient(to bottom,
                                      darken($theme_bg_color,20%),
                                      darken($theme_bg_color,10%),
                                      darken($theme_bg_color,5%));
    @include draw_button(null,$fill);
  }
  &:insensitive, &:backdrop:insensitive {
    $fill: linear-gradient(to bottom, transparent);
    color: $insensitive_fg_color;
    @include draw_button(null,$fill);
  }
}
