debug {
  @if $variant == 'dark' { background-color: red; }
  @else { background-color: blue; }
}

* {
    engine: adwaita;
    padding: 0;
    background-clip: padding-box;
    -GtkToolButton-icon-spacing: 4;
    -GtkTextView-error-underline-color: $error_color;
    -GtkPaned-handle-size: 5;

    -GtkCheckButton-indicator-size: 16;
    -GtkCheckMenuItem-indicator-size: 12;

    /* The size for scrollbars. The slider is 2px smaller, but we keep it
     * up so that the whole area is sensitive to button presses for the
     * slider. The stepper button is larger in both directions, the slider
     * only in the width
     */

    -GtkScrolledWindow-scrollbar-spacing: 0;
    -GtkScrolledWindow-scrollbars-within-bevel: 1;

    -GtkToolItemGroup-expander-size: 11;
    -GtkExpander-expander-size: 11;
    -GtkTreeView-expander-size: 11;

    -GtkTreeView-horizontal-separator: 4;

    -GtkMenu-horizontal-padding: 0;
    -GtkMenu-vertical-padding: 0;

    -GtkWidget-link-color: $link_color;
    -GtkWidget-visited-link-color: $link_color;

    -GtkWidget-focus-padding: 2;
    -GtkWidget-focus-line-width: 1;
    -GtkWindow-resize-grip-width: 0;
    -GtkWindow-resize-grip-height: 0;   

    // We use the outline properties to signal the focus properties
    // to the adwaita engine: using real CSS properties is faster,
    // and we don't use any outlines for now.

    outline-color: transparentize($theme_fg_color, 0.3);
    outline-style: dashed;
    outline-offset: 2px;
}

/***************
 * Base States *
 ***************/

.background {
    color: $theme_fg_color;
    background-color: $theme_bg_color;
}

.background:backdrop {
    /* I want everything nice and flat in the unfocused window */
    text-shadow: none;
    icon-shadow: none;

    color: lighten($theme_fg_color,10%);
}

*:selected,
*:selected:focus {
    background-color: $theme_selected_bg_color;
    color: $theme_selected_fg_color;
}

*:selected:backdrop {
    background-color: $theme_selected_bg_color;
    color: $theme_selected_fg_color;
}

*:insensitive {
    background-color: $insensitive_bg_color;
    color: $insensitive_fg_color;
    border-color: darken($theme_bg_color,20%);
}

*:insensitive:backdrop {
    /* I want everything nice and flat in the unfocused window */
    text-shadow: none;
    icon-shadow: none;
    color: lighten($theme_fg_color,10%);
}

/* Apply effects to insensitive and prelit images */
*:insensitive {
    -gtk-image-effect: dim;
}

*:hover {
    -gtk-image-effect: highlight;
}
*:hover {
    -gtk-image-effect: highlight;
}

.gtkstyle-fallback {
    background-color: $theme_bg_color;
    color: $theme_fg_color;
}

.gtkstyle-fallback:prelight {
    background-color: lighten($theme_bg_color, 10%);
    color: $theme_fg_color;
}

.gtkstyle-fallback:active {
    background-color: darken($theme_bg_color, 10%);
    color: $theme_fg_color;
}

.gtkstyle-fallback:insensitive {
    background-color: $insensitive_bg_color;
    color: $insensitive_fg_color;
}

.gtkstyle-fallback:selected {
    background-color: $theme_selected_bg_color;
    color: $theme_selected_fg_color;
}

GtkImage,
GtkImage:insensitive,
GtkLabel,
GtkLabel:insensitive,
GtkBox,
GtkBox:insensitive,
GtkGrid,
GtkGrid:insensitive {
    background-color: transparent;
}

// spinner animation

@keyframes spin {
    to { -gtk-icon-transform: rotate(1turn); }
}

.spinner {
  background-image: none;
  background-color: blue;
  opacity: 0; /* non spinning spinner makes no sense */
  -gtk-icon-source: url("assets/spinner.svg");

  &:active {
    opacity: 1;
    animation: spin 1s linear infinite;
    &:insensitive {
      opacity: 0.5;
    }
  }
}

/****************
 * Text Entries *
 ****************/
 
.entry {
  padding: 4px;
  color: $theme_fg_color;
  border-radius: 3px;
  transition: all 200ms ease-out;
  border: 1px solid darken($theme_bg_color,30%);
  background-image: linear-gradient(to bottom,
                                      darken($theme_base_color,20%) 1%,
                                      darken($theme_base_color,10%) 10%,
                                      $theme_base_color
                                      );
  background-color: transparent;
  &:insensitive, &:backdrop:insensitive {
    color: $insensitive_fg_color;
    background-image: none;
    background-color: $insensitive_bg_color;
    box-shadow: inset 0 1px $borders_edge,
                0 1px $borders_edge; /* doesn't have margin to paint on :( */
  }
  &:focus {
    border-color: $theme_selected_bg_color;
    box-shadow: inset 0 0 2px 1px transparentize($theme_selected_bg_color,.5);
  }
  GtkLabel {
    text-shadow: 0 1px red;
  }  
}

.linked .entry {
  @extend .entry;
  &:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
  }
  &:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/***********
 * Buttons *
 ***********/
.button,
.toolbar .button.raised,
.toolbar .raised .button,
.toolbar GtkComboBox .button,
.spinbutton.vertical .button {
  border-radius: 3px;
  transition: all 200ms ease-out;
  padding: 2px 4px;
  background-color: transparent;
  @include button_normal($theme_bg_color);
  &:hover {
    @include button_hover($theme_bg_color);
  }
  &:active {
    @include button_active($theme_bg_color);
  }
  &:backdrop {
    @include button_backdrop($theme_bg_color);
    color: $insensitive_fg_color;
    &:active {
      @include button_backdrop(darken($theme_bg_color, 10%));
      box-shadow: none;
      border: 1px solid darken($theme_bg_color,30%);
      color: $theme_fg_color;
    }
  }
  &:insensitive {
    @include button_insensitive($theme_bg_color);
  }
  &:backdrop:insensitive {
    @include button_insensitive(transparentize($theme_bg_color,0.5));
  }
  /* Suggested and Destructive Action buttons */
  @each $b_type, $b_color in  (suggested-action, $theme_selected_bg_color), 
                              (destructive-action, $destructive_color) {
    &.#{$b_type} {
      @include button_normal($b_color);
      color: $theme_base_color; 
      &:active, &:hover:active {
        @include button_active($b_color);
      }
      &:hover {
        @include button_hover($b_color);
      }
      &:backdrop {
        @include button_backdrop($b_color);
      }
      &:insensitive {
        color: $insensitive_fg_color;
        @include button_insensitive($theme_bg_color);
        &:backdrop {
          @include button_insensitive(transparentize($theme_bg_color,0.5));
        }
      }
      // button label can't be colored easily, need to match for the GtkLabel
      GtkLabel:backdrop:insensitive {
        color: transparentize($insensitive_fg_color, 0.5);
      }
    }
  }
}

/* menu/popover buttons */
.menuitem.button, {
  color: $theme_fg_color;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  border-image: none;
  border-style: none;
  box-shadow: none;
  &:active,
  &:insensitive,
  &:active:insensitive {
    @extend .menuitem.button;
  }
  &:backdrop,
  &:hover:backdrop,
  &:insensitive:backdrop,
  &:active:insensitive:backdrop,
  &:active:backdrop,
  &:active:hover:backdrop,
  &:active:selected:backdrop {
      text-shadow: none;
      icon-shadow: none;
      color: $insensitive_fg_color;
      background-color: $insensitive_bg_color;
      background-image: none;
      border: none;
      box-shadow: none;
  }
}

// Window Close button
.button.titlebutton {
  padding: 9px;
  border-width: 0;
  background-image: none;
  box-shadow: none;
  &:hover {
    padding: 8px;
    @include button_normal($theme_bg_color);
  }
  &:active {
    padding: 8px;
    @include button_active($theme_bg_color);
  }
}

.linked .button {
  @extend .button;
  padding: 6px;
  border-radius: 0;
  border-right-width: 0;
  &:first-child {
    border-radius: 3px 0 0 3px;
    border-width: 1px 0 1px 1px;
  }
  &:last-child {
    border-radius: 0 3px 3px 0;
    border-width: 1px;
  }
  &:only-child {
    border-radius: 3px;
    border-width: 1px;
  }
}

.header-bar .button {
  &.text-button {
    padding: 6px 8px 5px; /* due to font metrics the image buttons are 1px shorter */
  }
  &.image-button {
    padding: 8px; 
  }
}

/**************
 * ComboBoxes *
 **************/
GtkComboBox {
  padding: 0;

  -GtkComboBox-arrow-scaling: 0.5;
  -GtkComboBox-shadow-type: none;
  .separator {
    /* always disable separators */
    -GtkWidget-wide-separators: true;
    -GtkWidget-horizontal-separator: 0;
    -GtkWidget-vertical-separator: 0;
  }
  &.combobox-entry .entry:first-child {
    border-radius: 3px 0 0 3px;
    border-right: 0;
  }
  &.combobox-entry .button:first-child {
    border-radius: 3px 0 0 3px;
  }
  &.combobox-entry .entry:last-child {
    border-radius: 0 3px 3px 0;
    border-left: 0;
  }
  &.combobox-entry .button:last-child {
    border-radius: 0 3px 3px 0;
  }
  .button {
    @extend .button;
    padding: 4px 6px;
  }
}

/***************
 * Header bars *
 ***************/
 
.header-bar {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: darken($theme_bg_color, 30%);
  border-radius: 7px 7px 0 0;
  
  background-color: transparent;
  background-image: linear-gradient(to bottom,
                                    lighten($theme_bg_color,2%),
                                    darken($theme_bg_color,5%));
  box-shadow: inset 0 -1px $theme_shade,
              inset 0 1px $borders_edge;
  padding: 6px;

  &:backdrop {
    background-image: none;
    background-color: $theme_bg_color;
  }
  
  .title {
    font: Bold;
    padding: 0px 12px;
  }
  .subtitle {
    font-size: 80%;
    padding: 0 12px;
  }
  & > GtkBox > .separator.vertical {
    -GtkWidget-wide-separators: 1;
    -GtkWidget-separator-width: 2px;
    background-color: transparent;
    border-width: 0 1px;
    border-style: solid;
    border-color: transparent;
    @if $variant == 'light' {
      border-image: -gtk-scaled(url("assets/header-separator.png"),
                  url("assets/header-separator@2.png")) 0 1 0 1 / 0 1px 0 1px stretch;
    }
    @else {
      border-image: -gtk-scaled(url("assets/header-separator-dark.png"),
                  url("assets/header-separator-dark@2.png")) 0 1 0 1 / 0 1px 0 1px stretch;
    }
  }
  &.selection-mode {
    color: darken($theme_selected_bg_color, 15%);
    text-shadow: 0 1px $theme_shade;
    background-image: linear-gradient(to bottom,
                                    lighten($theme_selected_bg_color,5%),
                                    lighten($theme_selected_bg_color,2%));
  }
}

.window-frame.tiled .header-bar {
  border-radius: 0; /* FIXME doesn't work */
}

/***************
 * Popovers   *
 ***************/

GtkPopover {
    border-radius: 5px;
    background-clip: border-box;
    /*
    background-color: @osd_popover_bg;
    */
    background-color: $theme_bg_color;

    border-color: darken($theme_bg_color, 30%);
    border-width: 1px;
    border-style: solid;

    box-shadow: 0 2px 3px $theme_shade;
    margin: 10px;
    padding: 2px;
    &:backdrop {
      box-shadow: none;
    }
    & > .list,
    & > .view,
    & > .toolbar {
      background-color: transparent;
    }
    .separator {
      font-size: 80%;
      font-weight: bold;
      color: transparentize($theme_fg_color,0.4);
      text-shadow: none;
      background-color: transparent;
      icon-shadow: none;
      border: 0;
    }
}


/***************
 * WM Stuff    *
 ***************/

.window-frame {
  border-radius: 7px 7px 0 0;
  /* lamefun trick to get rounded borders regardless of CSD use */
  border-width: 0px;    
  box-shadow: 0 2px 10px 4px transparentize($wm_shadow, 0.4), 0 0 0 1px transparentize($wm_shadow,.5);

  /* this is used for the resize cursor area */
  margin: 10px;

  &:backdrop {
    box-shadow: 0 3px 6px 2px transparentize($wm_shadow, 0.4), 0 0 0 1px transparentize($wm_shadow,.5);
  }
  &.tiled {
    border-radius: 0;
    background-color: $theme_bg_color;
  }
}
