// Drawing mixins

// generic drawing of more complex things

$widget_bottom_hilight: 0 1px $borders_edge; //outer hilight "used" on 
                                             //most widgets, not working
                                             //since gtk doesn't draw (yet?)
                                             //outside the widget itself.
@mixin _border-rounded() {
}

@mixin _border-rounded-left() {
}

@mixin _border-rounded-right() {
}

@mixin _border-rounded-top() {
}

@mixin _border-rounded-bottom() {
}

// buttons

@mixin _button_borders_style {
  border-width: 1px;
  border-style: solid;
}

@mixin _button_borders_custom_color ($c) {
  @if $variant=='light' {
    border-color: darken($c,30%);
  }
  @else {
    border-color: darken($c,10%);
  }
}

@mixin _button_text_shadow ($c) {
  @if $c==none { text-shadow: none; icon-shadow: none; }
  @else {
    text-shadow: 0 1px $c;
    icon-shadow: 0 1px $c;
  }
}

@mixin _button_box_shadow($shadow1, $shadow2:false, $shadow3:false, $shadow4:false) {
  //needed to stack box shadows
  @if $shadow2 {box-shadow: $shadow1, $shadow2;}
  @if $shadow3 {box-shadow: $shadow1, $shadow2, $shadow3;}
  @if $shadow4 {box-shadow: $shadow1, $shadow2, $shadow3, shadow4;}
  @else { box-shadow: $shadow1; }
}

@mixin button_normal ($c:$theme_bg_color) {
  background-image: linear-gradient(to bottom,
                                      lighten($c,10%),
                                      $c 40%,
                                      darken($c,10%)
                                      );

  @if $c!=$theme_bg_color { @include _button_borders_custom_color($c); }
  @else { border-color: $borders_color;}
  
  @include _button_borders_style;
  @include _button-box-shadow(inset 0 1px $borders_edge, 
                              $widget_bottom_hilight);
  @include _button_text_shadow(lighten($c,50%));
}

@mixin button_hover ($c:$theme_bg_color) {
  background-image: linear-gradient(to bottom,
                                      lighten($c,14%),
                                      lighten($c,4%) 40%,
                                      $c);
 
  @if $c!=$theme_bg_color { @include _button_borders_custom_color($c); }
  @else { border-color: $borders_color;}

  @include _button_borders_style;
  @include _button-box-shadow(inset 0 1px $borders_edge, 
                              $widget_bottom_hilight);
  @include _button_text_shadow(lighten($c,50%));
}

@mixin button_active ($c:$theme_bg_color) {
  background-image: linear-gradient(to bottom,
                                    darken($c,20%),
                                    darken($c,15%) 5%,
                                    darken($c,10%));
  
  @if $c!=$theme_bg_color { @include _button_borders_custom_color($c); }
  @else { border-color: $borders_color;}

  @include _button_borders_style;
  @include _button_box_shadow (inset 0 2px 3px -1px transparentize(black,0.8),
                               //box shadow for the pushed effect
                               $widget_bottom_hilight);
  @include _button_text_shadow($c);  
}

@mixin button_backdrop ($c:$backdrop_bg_color) {
  background-image: linear-gradient(to bottom, $c);

  @if $c!=$backdrop_bg_color { @include _button_borders_custom_color($c); }
  @else { border-color: $borders_color;}

  @include _button_borders_style;
  @include _button_box_shadow(none);
  @include _button_text_shadow(none);
}

@mixin button_backdrop_active ($c:$backdrop_bg_color) {
  background-image: linear-gradient(to bottom, darken($c,30%));
 
  @if $c!=$backdrop_bg_color { @include _button_borders_custom_color($c); }
  @else { border-color: $borders_color;}

  @include _button_borders_style;
  @include _button_box_shadow(none);
  @include _button_text_shadow(none);
}

@mixin button_insensitive ($c:$insensitive_bg_color) {
  background-image: linear-gradient(to bottom, transparentize($c,0.5));
 
  @if $c!=$insensitive_bg_color { @include _button_borders_custom_color($c); }
  @else { border-color: $borders_color;}

  @include _button_borders_style;
  @include _button_box_shadow ($widget_bottom_hilight);
  @include _button_text_shadow(none);
}

@mixin button_insensitive_active ($c:$insensitive_bg_color) {
  background-image: linear-gradient(to bottom, transparentize($c,0.5));
 
  @if $c!=$insensitive_bg_color { @include _button_borders_custom_color($c); }
  @else { border-color: $borders_color;}

  @include _button_borders_style;
  @include _button_box_shadow (inset 0 2px 3px -1px transparentize(black,0.8),
                               $widget_bottom_hilight);
  @include _button_text_shadow(none);
}
