* {
  engine: adwaita;
  padding: 0;
  background-clip: padding-box;
  -GtkToolButton-icon-spacing: 4;
  -GtkTextView-error-underline-color: #cc0000;
  -GtkPaned-handle-size: 5;
  -GtkCheckButton-indicator-size: 16;
  -GtkCheckMenuItem-indicator-size: 12;
  -GtkScrolledWindow-scrollbar-spacing: 0;
  -GtkScrolledWindow-scrollbars-within-bevel: 1;
  -GtkToolItemGroup-expander-size: 11;
  -GtkExpander-expander-size: 11;
  -GtkTreeView-expander-size: 11;
  -GtkTreeView-horizontal-separator: 4;
  -GtkMenu-horizontal-padding: 0;
  -GtkMenu-vertical-padding: 0;
  -GtkWidget-link-color: #4a90d9;
  -GtkWidget-visited-link-color: #4a90d9;
  -GtkWidget-focus-padding: 2;
  -GtkWidget-focus-line-width: 1;
  -GtkWindow-resize-grip-width: 0;
  -GtkWindow-resize-grip-height: 0;
  outline-color: rgba(238, 238, 236, 0.3);
  outline-style: dashed;
  outline-offset: -3px;
  outline-width: 1px;
  outline-radius: 2px; }

/***************
 * Base States *
 ***************/
.background {
  color: #eeeeec;
  background-color: #393f3f; }

.background:backdrop {
  text-shadow: none;
  icon-shadow: none;
  color: white; }

/*
   These wildcard seems unavoidable, need to investigate.
   Wildcards are bad and troublesome, use them with care,
   or better, just don't.
   Everytime a wildcard is used a kitten dies, painfully.
*/
*:selected,
*:selected:focus {
  background-color: #2a76c6;
  color: white; }

*:selected:backdrop {
  background-color: #2a76c6;
  color: white; }

*:insensitive {
  -gtk-image-effect: dim; }

*:hover {
  -gtk-image-effect: highlight; }

.gtkstyle-fallback {
  background-color: #393f3f;
  color: #eeeeec; }
  .gtkstyle-fallback:prelight {
    background-color: #515a5a;
    color: #eeeeec; }
  .gtkstyle-fallback:active {
    background-color: #212424;
    color: #eeeeec; }
  .gtkstyle-fallback:insensitive {
    background-color: #393f3f;
    color: white; }
  .gtkstyle-fallback:selected {
    background-color: #2a76c6;
    color: white; }

GtkImage,
GtkImage:insensitive,
GtkLabel,
GtkLabel:insensitive,
GtkBox,
GtkBox:insensitive,
GtkGrid,
GtkGrid:insensitive {
  background-color: transparent; }

.view {
  background-color: #333333;
  color: #eeeeec; }

/*********************
 * Spinner Animation *
 *********************/
@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn); } }
.spinner {
  background-image: none;
  background-color: blue;
  opacity: 0;
  -gtk-icon-source: url("assets/spinner.svg"); }
  .spinner:active {
    opacity: 1;
    animation: spin 1s linear infinite; }
    .spinner:active:insensitive {
      opacity: 0.5; }

/****************
 * Text Entries *
 ****************/
.entry {
  padding: 4px;
  border-radius: 3px;
  transition: all 200ms ease-out;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  background-image: linear-gradient(to bottom, #2b2b2b, #333333 90%);
  border-color: #1c1f1f;
  box-shadow: inset 0 2px 2px -2px #191919, 0 1px rgba(238, 238, 236, 0.1); }
  .entry:focus {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    background-image: linear-gradient(to bottom, #2b2b2b, #333333 90%);
    border-color: #2a76c6;
    box-shadow: inset 0 2px 2px -2px #191919, inset 0 0 2px 1px #314050, 0 1px rgba(238, 238, 236, 0.1); }
  .entry:insensitive {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    background-image: linear-gradient(to bottom, #2b2b2b, #333333 90%);
    color: white;
    border-color: #1c1f1f;
    background-image: linear-gradient(to bottom, #393f3f);
    box-shadow: 0 1px rgba(238, 238, 236, 0.1); }
  .entry:backdrop {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    background-image: linear-gradient(to bottom, #2b2b2b, #333333 90%);
    color: #eeeeec;
    background-image: linear-gradient(to bottom, #262626);
    box-shadow: 0 1px rgba(255, 255, 255, 0); }
  .entry:backdrop:insensitive {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    background-image: linear-gradient(to bottom, #2b2b2b, #333333 90%);
    color: white;
    background-image: linear-gradient(to bottom, #393f3f);
    box-shadow: 0 1px rgba(255, 255, 255, 0); }
  .entry:selected, .entrybackdrop:selected {
    background-color: #2a76c6;
    color: white; }
  .entry.progressbar {
    margin: 1px;
    border-radius: 0;
    border-width: 0 0 2px;
    border-color: #2a76c6;
    border-style: solid;
    background-image: none;
    box-shadow: none; }
  .linked .entry:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0; }
  .linked .entry:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

/***********
 * Buttons *
 ***********/
.button {
  border-radius: 3px;
  transition: all 200ms ease-out;
  padding: 4px 6px;
  border-width: 1px;
  border-style: solid;
  color: #eeeeec;
  background-image: linear-gradient(to bottom, #454c4c, #393f3f 40%, #2d3232);
  border-color: #1c1f1f;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.81176);
  icon-shadow: 0 -1px rgba(0, 0, 0, 0.81176);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px rgba(238, 238, 236, 0.1); }
  .button:hover {
    border-width: 1px;
    border-style: solid;
    color: #eeeeec;
    border-color: #212424;
    background-image: linear-gradient(to bottom, #5b6464, #434a4a 40%, #393f3f);
    text-shadow: 0 -1px rgba(0, 0, 0, 0.77976);
    icon-shadow: 0 -1px rgba(0, 0, 0, 0.77976);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px rgba(238, 238, 236, 0.1); }
  .button:active {
    border-width: 1px;
    border-style: solid;
    color: #eeeeec;
    border-color: #1c1f1f;
    background-image: linear-gradient(to bottom, #212424, #2d3232 3%);
    text-shadow: 0 -1px rgba(0, 0, 0, 0.89176);
    icon-shadow: 0 -1px rgba(0, 0, 0, 0.89176);
    box-shadow: inset 0 2px 3px -1px rgba(0, 0, 0, 0.3), 0 1px rgba(238, 238, 236, 0.1); }
  .button:backdrop {
    border-width: 1px;
    border-style: solid;
    color: #eeeeec;
    border-color: #1c1f1f;
    background-image: linear-gradient(to bottom, #393f3f);
    text-shadow: none;
    icon-shadow: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0); }
    .button:backdrop:active {
      border-width: 1px;
      border-style: solid;
      color: #eeeeec;
      border-color: #1c1f1f;
      background-image: linear-gradient(to bottom, rgba(28, 31, 31, 0.3));
      box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0); }
    .button:backdrop:insensitive {
      border-width: 1px;
      border-style: solid;
      color: white;
      border-color: #1c1f1f;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0); }
    .button:backdrop:insensitive:active {
      border-width: 1px;
      border-style: solid;
      color: white;
      border-color: #1c1f1f;
      background-image: linear-gradient(to bottom, rgba(28, 31, 31, 0.1));
      box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0); }
  .button:insensitive {
    border-width: 1px;
    border-style: solid;
    color: white;
    border-color: #1c1f1f;
    background-image: linear-gradient(to bottom, #393f3f);
    text-shadow: none;
    icon-shadow: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(238, 238, 236, 0.1); }
    .button:insensitive:active {
      border-width: 1px;
      border-style: solid;
      color: white;
      border-color: #1c1f1f;
      background-image: linear-gradient(to bottom, rgba(28, 31, 31, 0.2));
      box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(238, 238, 236, 0.1); }
  .button.suggested-action {
    border-width: 1px;
    border-style: solid;
    color: white;
    background-image: linear-gradient(to bottom, #3583d5, #2a76c6 40%, #256ab1);
    border-color: #215d9c;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.62353);
    icon-shadow: 0 -1px rgba(0, 0, 0, 0.62353);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px rgba(238, 238, 236, 0.1); }
    .button.suggested-action:hover {
      border-width: 1px;
      border-style: solid;
      color: white;
      border-color: #215d9c;
      background-image: linear-gradient(to bottom, #5b9add, #3180d4 40%, #2a76c6);
      text-shadow: 0 -1px rgba(0, 0, 0, 0.59153);
      icon-shadow: 0 -1px rgba(0, 0, 0, 0.59153);
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px rgba(238, 238, 236, 0.1); }
    .button.suggested-action:active {
      border-width: 1px;
      border-style: solid;
      color: white;
      border-color: #215d9c;
      background-image: linear-gradient(to bottom, #215d9c, #256ab1 3%);
      text-shadow: 0 -1px rgba(0, 0, 0, 0.70353);
      icon-shadow: 0 -1px rgba(0, 0, 0, 0.70353);
      box-shadow: inset 0 2px 3px -1px rgba(0, 0, 0, 0.3), 0 1px rgba(238, 238, 236, 0.1); }
    .button.suggested-action:backdrop {
      border-width: 1px;
      border-style: solid;
      color: #393f3f;
      border-color: #2a76c6;
      background-image: linear-gradient(to bottom, #2a76c6);
      text-shadow: none;
      icon-shadow: none;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0); }
      .button.suggested-action:backdrop:insensitive {
        border-width: 1px;
        border-style: solid;
        color: white;
        border-color: #1c1f1f;
        box-shadow: inset 0 1px rgba(255, 255, 255, 0); }
    .button.suggested-action:insensitive {
      border-width: 1px;
      border-style: solid;
      color: white;
      border-color: #1c1f1f;
      background-image: linear-gradient(to bottom, #393f3f);
      text-shadow: none;
      icon-shadow: none;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(238, 238, 236, 0.1); }
  .button.destructive-action {
    border-width: 1px;
    border-style: solid;
    color: white;
    background-image: linear-gradient(to bottom, #ed1212, #d51010 40%, #bd0e0e);
    border-color: #a60c0c;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.64078);
    icon-shadow: 0 -1px rgba(0, 0, 0, 0.64078);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px rgba(238, 238, 236, 0.1); }
    .button.destructive-action:hover {
      border-width: 1px;
      border-style: solid;
      color: white;
      border-color: #a60c0c;
      background-image: linear-gradient(to bottom, #f03c3c, #e81111 40%, #d51010);
      text-shadow: 0 -1px rgba(0, 0, 0, 0.60878);
      icon-shadow: 0 -1px rgba(0, 0, 0, 0.60878);
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px rgba(238, 238, 236, 0.1); }
    .button.destructive-action:active {
      border-width: 1px;
      border-style: solid;
      color: white;
      border-color: #a60c0c;
      background-image: linear-gradient(to bottom, #a60c0c, #bd0e0e 3%);
      text-shadow: 0 -1px rgba(0, 0, 0, 0.72078);
      icon-shadow: 0 -1px rgba(0, 0, 0, 0.72078);
      box-shadow: inset 0 2px 3px -1px rgba(0, 0, 0, 0.3), 0 1px rgba(238, 238, 236, 0.1); }
    .button.destructive-action:backdrop {
      border-width: 1px;
      border-style: solid;
      color: #393f3f;
      border-color: #d51010;
      background-image: linear-gradient(to bottom, #d51010);
      text-shadow: none;
      icon-shadow: none;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0); }
      .button.destructive-action:backdrop:insensitive {
        border-width: 1px;
        border-style: solid;
        color: white;
        border-color: #1c1f1f;
        box-shadow: inset 0 1px rgba(255, 255, 255, 0); }
    .button.destructive-action:insensitive {
      border-width: 1px;
      border-style: solid;
      color: white;
      border-color: #1c1f1f;
      background-image: linear-gradient(to bottom, #393f3f);
      text-shadow: none;
      icon-shadow: none;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(238, 238, 236, 0.1); }
  .linked .button, .linked .button:backdrop {
    border-radius: 0;
    border-right-width: 0; }
    .linked .button:first-child, .linked .button:backdrop:first-child {
      border-radius: 3px 0 0 3px; }
    .linked .button:last-child, .linked .button:backdrop:last-child {
      border-radius: 0 3px 3px 0;
      border-right-width: 1px; }
    .linked .button:only-child, .linked .button:backdrop:only-child {
      border-radius: 3px;
      border-right-width: 1px; }
  .header-bar .button.text-button {
    padding: 6px 8px 5px; }
  .header-bar .button.image-button {
    padding: 8px; }
  .primary-toolbar .button {
    icon-shadow: none; }

/* menu/popover buttons */
.menuitem.button, .menuitem.button:active, .menuitem.button:insensitive, .menuitem.button:active:insensitive {
  color: #eeeeec;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  border-image: none;
  border-style: none;
  box-shadow: none; }
  .menuitem.button:backdrop, .menuitem.button:backdrop:active:insensitive, .menuitem.button:hover:backdrop, .menuitem.button:insensitive:backdrop, .menuitem.button:active:insensitive:backdrop, .menuitem.button:active:backdrop, .menuitem.button:active:hover:backdrop, .menuitem.button:active:selected:backdrop {
    text-shadow: none;
    icon-shadow: none;
    color: white;
    background-color: #393f3f;
    background-image: none;
    border: none;
    box-shadow: none; }

GtkColorButton.button {
  padding: 4px; }

/*****************
 * GtkSpinButton *
 *****************/
.spinbutton {
  box-shadow: 0 1px rgba(238, 238, 236, 0.1); }
  .spinbutton .button {
    background-image: none;
    border-width: 0 0 0 1px;
    border-color: rgba(28, 31, 31, 0.3);
    border-radius: 0;
    box-shadow: none; }
    .spinbutton .button:insensitive {
      color: rgba(255, 255, 255, 0.3); }
    .spinbutton .button:active {
      box-shadow: inset 0 2px 3px -1px rgba(0, 0, 0, 0.2); }
    .spinbutton .button:backdrop {
      border-color: rgba(28, 31, 31, 0.3); }
    .spinbutton .button:backdrop:insensitive {
      border-width: 0 0 0 1px;
      color: rgba(255, 255, 255, 0.3); }
  .spinbutton.vertical .button:first-child {
    border-radius: 3px 3px 0 0;
    border-width: 1px;
    border-style: solid;
    color: #eeeeec;
    background-image: linear-gradient(to bottom, #454c4c, #393f3f 40%, #2d3232);
    border-color: #1c1f1f;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.81176);
    icon-shadow: 0 -1px rgba(0, 0, 0, 0.81176);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1); }
    .spinbutton.vertical .button:first-child:active {
      border-width: 1px;
      border-style: solid;
      color: #eeeeec;
      border-color: #1c1f1f;
      background-image: linear-gradient(to bottom, #212424, #2d3232 3%);
      text-shadow: 0 -1px rgba(0, 0, 0, 0.89176);
      icon-shadow: 0 -1px rgba(0, 0, 0, 0.89176);
      box-shadow: inset 0 2px 3px -1px rgba(0, 0, 0, 0.3); }
    .spinbutton.vertical .button:first-child:insensitive {
      border-width: 1px;
      border-style: solid;
      color: white;
      border-color: #1c1f1f;
      background-image: linear-gradient(to bottom, #393f3f);
      text-shadow: none;
      icon-shadow: none;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0); }
    .spinbutton.vertical .button:first-child:hover {
      border-width: 1px;
      border-style: solid;
      color: #eeeeec;
      border-color: #212424;
      background-image: linear-gradient(to bottom, #5b6464, #434a4a 40%, #393f3f);
      text-shadow: 0 -1px rgba(0, 0, 0, 0.77976);
      icon-shadow: 0 -1px rgba(0, 0, 0, 0.77976);
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.1); }
    .spinbutton.vertical .button:first-child:backdrop {
      border-width: 1px;
      border-style: solid;
      color: #eeeeec;
      border-color: #1c1f1f;
      background-image: linear-gradient(to bottom, #393f3f);
      text-shadow: none;
      icon-shadow: none;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0); }
    .spinbutton.vertical .button:first-child:backdrop:insensitive {
      border-width: 1px;
      border-style: solid;
      color: white;
      border-color: #1c1f1f;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0); }
  .spinbutton.vertical .button:last-child {
    border-radius: 0 0 3px 3px;
    border-width: 1px;
    border-style: solid;
    color: #eeeeec;
    background-image: linear-gradient(to bottom, #454c4c, #393f3f 40%, #2d3232);
    border-color: #1c1f1f;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.81176);
    icon-shadow: 0 -1px rgba(0, 0, 0, 0.81176);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px rgba(238, 238, 236, 0.1); }
    .spinbutton.vertical .button:last-child:active {
      border-width: 1px;
      border-style: solid;
      color: #eeeeec;
      border-color: #1c1f1f;
      background-image: linear-gradient(to bottom, #212424, #2d3232 3%);
      text-shadow: 0 -1px rgba(0, 0, 0, 0.89176);
      icon-shadow: 0 -1px rgba(0, 0, 0, 0.89176);
      box-shadow: inset 0 2px 3px -1px rgba(0, 0, 0, 0.3), 0 1px rgba(238, 238, 236, 0.1); }
    .spinbutton.vertical .button:last-child:insensitive {
      border-width: 1px;
      border-style: solid;
      color: white;
      border-color: #1c1f1f;
      background-image: linear-gradient(to bottom, #393f3f);
      text-shadow: none;
      icon-shadow: none;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(238, 238, 236, 0.1); }
    .spinbutton.vertical .button:last-child:hover {
      border-width: 1px;
      border-style: solid;
      color: #eeeeec;
      border-color: #212424;
      background-image: linear-gradient(to bottom, #5b6464, #434a4a 40%, #393f3f);
      text-shadow: 0 -1px rgba(0, 0, 0, 0.77976);
      icon-shadow: 0 -1px rgba(0, 0, 0, 0.77976);
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px rgba(238, 238, 236, 0.1); }
    .spinbutton.vertical .button:last-child:backdrop {
      border-width: 1px;
      border-style: solid;
      color: #eeeeec;
      border-color: #1c1f1f;
      background-image: linear-gradient(to bottom, #393f3f);
      text-shadow: none;
      icon-shadow: none;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0); }
    .spinbutton.vertical .button:last-child:backdrop:insensitive {
      border-width: 1px;
      border-style: solid;
      color: white;
      border-color: #1c1f1f;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0); }
  .spinbutton.vertical .button.button.button.button:first-child {
    border-bottom-width: 0; }
  .spinbutton.vertical .button.button.button.button:last-child {
    border-top-width: 0; }
  .spinbutton.vertical.entry {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    background-image: linear-gradient(to bottom, #2b2b2b, #333333 90%);
    border-color: #1c1f1f;
    box-shadow: inset 0 2px 2px -2px #191919, 0 1px rgba(238, 238, 236, 0.1);
    border-radius: 0; }

/**************
 * ComboBoxes *
 **************/
GtkComboBox {
  padding: 0;
  -GtkComboBox-arrow-scaling: 0.5;
  -GtkComboBox-shadow-type: none;
  box-shadow: 0 1px rgba(238, 238, 236, 0.1);
  text-shadow: 0 -1px rgba(0, 0, 0, 0.81176);
  icon-shadow: 0 -1px rgba(0, 0, 0, 0.81176); }
  GtkComboBox:insensitive {
    color: white;
    text-shadow: none;
    icon-shadow: none; }
  GtkComboBox:backdrop {
    color: #eeeeec;
    text-shadow: none;
    icon-shadow: none; }
  GtkComboBox:backdrop:insensitive {
    color: white; }
  GtkComboBox .separator {
    -GtkWidget-wide-separators: true;
    -GtkWidget-horizontal-separator: 0;
    -GtkWidget-vertical-separator: 0; }
  GtkComboBox.combobox-entry .entry:first-child {
    border-radius: 3px 0 0 3px;
    border-right: 0; }
  GtkComboBox.combobox-entry .button:first-child {
    border-radius: 3px 0 0 3px; }
  GtkComboBox.combobox-entry .entry:last-child {
    border-radius: 0 3px 3px 0;
    border-left: 0; }
  GtkComboBox.combobox-entry .button:last-child {
    border-radius: 0 3px 3px 0; }

/***************
 * Header bars *
 ***************/
.header-bar {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #1c1f1f;
  border-radius: 7px 7px 0 0;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #3e4444, #2d3232);
  box-shadow: inset 0 -1px #303535, inset 0 1px rgba(238, 238, 236, 0.1);
  padding: 6px; }
  .header-bar:backdrop {
    border-color: #1c1f1f;
    background-color: #393f3f;
    background-image: none;
    box-shadow: none; }
  .header-bar .title {
    font: Bold;
    padding: 0px 12px; }
  .header-bar .subtitle {
    font-size: 80%;
    padding: 0 12px; }
  .header-bar > GtkBox > .separator.vertical {
    -GtkWidget-wide-separators: true;
    -GtkWidget-separator-width: 1px;
    border-width: 0 1px;
    border-image: linear-gradient(to bottom, rgba(28, 31, 31, 0), #1c1f1f 30%, #1c1f1f 70%, rgba(28, 31, 31, 0) 100%) 0 1/0 1px stretch; }
    .header-bar > GtkBox > .separator.vertical:backdrop {
      border-image: linear-gradient(to bottom, rgba(28, 31, 31, 0.5)) 0 1/1px 1px; }
  .header-bar.selection-mode {
    color: #1c5187;
    text-shadow: 0 1px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom, #3583d5, #2b7bcf);
    box-shadow: inset 0 -1px #303535, inset 0 1px rgba(51, 123, 199, 0.55); }
  .tiled .header-bar, .maximized .header-bar {
    border-radius: 0; }

/************
 * Searbars *
 ************/
.search-bar {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #1c1f1f;
  background-color: #363c3c;
  box-shadow: inset 0 1px 3px #292d2d;
  padding: 4px; }

/**************
 * Tree Views *
 **************/
column-header .button,
column-header .button:hover,
column-header .button:active,
column-header .button:backdrop {
  border-width: 0 1px 1px 0;
  border-color: transparent;
  box-shadow: none;
  border-radius: 0;
  border-image: linear-gradient(to top, #272929, #333333) 0 1 1 0;
  background-image: none;
  background-color: #333333;
  color: #90908f;
  font-weight: bold; }

/*********
 * Menus *
 *********/
.menubar {
  padding: 2px; }
  .menubar .menuitem {
    background-color: #393f3f;
    padding: 4px 8px;
    border-radius: 0; }
    .menubar .menuitem:hover, .menubar .menuitem:active {
      border-width: 0 0 3px;
      border-style: solid;
      border-color: #2a76c6; }

.menu .menuitem {
  background-color: #333333;
  padding: 4px;
  border-radius: 0; }
  .menu .menuitem:hover {
    border: none;
    color: white;
    background-color: #2a76c6; }
  .menu .menuitem:active {
    border: none;
    color: white;
    background-color: #256ab1; }
.menu .separator {
  color: transparent; }

/***************
 * Popovers   *
 ***************/
GtkPopover {
  border-radius: 5px;
  background-clip: border-box;
  /*
  background-color: @osd_popover_bg;
  */
  background-color: #393f3f;
  border-color: #1c1f1f;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  margin: 10px;
  padding: 2px; }
  GtkPopover:backdrop {
    box-shadow: none; }
  GtkPopover > .list, GtkPopover > .view, GtkPopover > .toolbar {
    background-color: transparent; }
  GtkPopover .separator {
    font-size: 80%;
    font-weight: bold;
    color: #5d6261;
    text-shadow: none;
    background-color: transparent;
    icon-shadow: none;
    border: 0; }

/*****************
 * Notebooks and *
 * Tabs          *
 *****************/
.notebook {
  padding: 0;
  border-style: solid;
  border-color: #1c1f1f;
  background-color: #333333;
  -GtkNotebook-initial-gap: 10;
  -GtkNotebook-arrow-spacing: 5;
  -GtkNotebook-tab-curvature: 0;
  -GtkNotebook-tab-overlap: 1;
  -GtkNotebook-has-tab-gap: false;
  -GtkWidget-focus-padding: 0;
  -GtkWidget-focus-line-width: 0;
  transition: all 200ms ease-out; }
  .notebook.frame {
    border-width: 1px; }
  .notebook.header {
    background-color: #2d3232;
    box-shadow: inset 0 6px 4px -5px #2a2f2f;
    border-width: 0px; }
    .notebook.header.frame {
      border: 1px solid #1c1f1f; }
      .notebook.header.frame.top {
        border-bottom: none; }
      .notebook.header.frame.bottom {
        border-top: none; }
      .notebook.header.frame.right {
        border-left: none; }
      .notebook.header.frame.left {
        border-right: none; }
  .notebook tab {
    border-width: 0;
    background-color: transparent; }
    .notebook tab.top, .notebook tab.bottom {
      padding: 8px 20px; }
    .notebook tab.left, .notebook tab.right {
      padding: 5px 20px; }
    .notebook tab.top:hover {
      box-shadow: inset 0 -2px #1c1f1f; }
    .notebook tab.top:active {
      box-shadow: inset 0 -2px #2a76c6; }
    .notebook tab.bottom:hover {
      box-shadow: inset 0 2px #1c1f1f; }
    .notebook tab.bottom:active {
      box-shadow: inset 0 2px #2a76c6; }
    .notebook tab.right:hover {
      box-shadow: inset 2px 0 #1c1f1f; }
    .notebook tab.right:active {
      box-shadow: inset 2px 0 #2a76c6; }
    .notebook tab.left:hover {
      box-shadow: inset -2px 0 #1c1f1f; }
    .notebook tab.left:active {
      box-shadow: inset -2px 0 #2a76c6; }
    .notebook tab GtkLabel {
      font-weight: bold;
      color: white; }
      .notebook tab GtkLabel.active-page {
        color: #eeeeec; }
      .notebook tab GtkLabel.prelight-page {
        color: white; }

/**************
 * Scrollbars *
 **************/
.scrollbar {
  background-image: none;
  border-style: solid;
  -GtkRange-trough-border: 0;
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
  -GtkRange-slider-width: 13;
  -GtkScrollbar-min-slider-length: 42;
  /* minimum size for the slider. sadly can't be in '.slider' where it belongs */
  -GtkRange-stepper-spacing: 0;
  -GtkRange-trough-under-steppers: 1; }
  .scrollbar .button {
    border: none; }
  .scrollbar.trough {
    background-color: #2d3232; }
    .scrollbar.trough:backdrop {
      background-color: transparent; }
  .scrollbar.slider {
    border-radius: 20px;
    border: 3px solid transparent;
    background-color: black; }
    .scrollbar.slider:backdrop, .scrollbar.slider:insensitive {
      background-color: #090909; }
    .scrollbar.slider:hover {
      background-color: black; }
    .scrollbar.slider:prelight:active {
      background-color: #2a76c6; }
    .scrollbar.slider.fine-tune {
      border-width: 5px; }
      .scrollbar.slider.fine-tune:prelight:active {
        background-color: #2a76c6; }

/**********
 * Switch *
 **********/
GtkSwitch {
  font: bold condensed 9;
  outline-offset: -4px;
  padding: 0;
  box-shadow: 0 1px 0 rgba(238, 238, 236, 0.1); }
  GtkSwitch.trough {
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    color: #c9cbc9;
    background-image: linear-gradient(to bottom, #303535 5%, #333838 20%, #333838 90%, #393f3f);
    border-color: #1c1f1f; }
    GtkSwitch.trough:active {
      color: #d7d8d8;
      background-image: linear-gradient(to bottom, #2364a8 5%, #256ab2 20%, #256ab2 90%, #2a76c6);
      border-color: #215d9c; }
    GtkSwitch.trough:insensitive {
      color: #c9cbc9;
      background-image: linear-gradient(to bottom, #393f3f);
      border-color: #1c1f1f; }
    GtkSwitch.trough:backdrop {
      color: #c9cbc9;
      background-image: linear-gradient(to bottom, #212424);
      border-color: #090909; }
    GtkSwitch.trough:backdrop:insensitive {
      color: #c9cbc9;
      background-image: linear-gradient(to bottom, #393f3f);
      border-color: #1c1f1f; }
  GtkSwitch.slider {
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    color: #eeeeec;
    background-image: linear-gradient(to bottom, #454c4c, #393f3f 40%, #2d3232);
    border-color: #1c1f1f;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.81176);
    icon-shadow: 0 -1px rgba(0, 0, 0, 0.81176);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1); }
    GtkSwitch.slider:active {
      border: 1px solid #184472; }
    GtkSwitch.slider:insensitive {
      border-width: 1px;
      border-style: solid;
      color: white;
      border-color: #1c1f1f;
      background-image: linear-gradient(to bottom, #393f3f);
      text-shadow: none;
      icon-shadow: none;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(238, 238, 236, 0.1); }
    GtkSwitch.slider:backdrop {
      border-width: 1px;
      border-style: solid;
      color: #eeeeec;
      border-color: #1c1f1f;
      background-image: linear-gradient(to bottom, #393f3f);
      text-shadow: none;
      icon-shadow: none;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0); }
    GtkSwitch.slider:backdrop:insensitive {
      border-width: 1px;
      border-style: solid;
      color: white;
      border-color: #1c1f1f;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0); }

/**********
 * Frames *
 **********/
.frame {
  border: 1px solid #1c1f1f;
  padding: 0; }
  .frame:backdrop {
    border-color: #2d3232; }

GtkScrolledWindow .frame {
  border-radius: 2px; }
GtkScrolledWindow GtkViewport.frame {
  border-style: none; }

.separator {
  color: rgba(0, 0, 0, 0.1); }

/**********************
 * Window Decorations *
 *********************/
.window-frame {
  border-radius: 7px 7px 0 0;
  /* lamefun trick to get rounded borders regardless of CSD use */
  border-width: 0px;
  box-shadow: 0 2px 10px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.6);
  /* this is used for the resize cursor area */
  margin: 10px; }
  .window-frame:backdrop {
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.3); }
  .window-frame.tiled {
    border-radius: 0; }

.button.titlebutton {
  padding: 8px;
  border-color: transparent;
  background-image: none;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(238, 238, 236, 0); }
  .button.titlebutton:hover {
    border-width: 1px;
    border-style: solid;
    color: #eeeeec;
    background-image: linear-gradient(to bottom, #454c4c, #393f3f 40%, #2d3232);
    border-color: #1c1f1f;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.81176);
    icon-shadow: 0 -1px rgba(0, 0, 0, 0.81176);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px rgba(238, 238, 236, 0.1); }
  .button.titlebutton:active {
    border-width: 1px;
    border-style: solid;
    color: #eeeeec;
    border-color: #1c1f1f;
    background-image: linear-gradient(to bottom, #212424, #2d3232 3%);
    text-shadow: 0 -1px rgba(0, 0, 0, 0.89176);
    icon-shadow: 0 -1px rgba(0, 0, 0, 0.89176);
    box-shadow: inset 0 2px 3px -1px rgba(0, 0, 0, 0.3), 0 1px rgba(238, 238, 236, 0.1); }
  .button.titlebutton:backdrop {
    border-width: 1px;
    border-style: solid;
    color: #eeeeec;
    border-color: #1c1f1f;
    background-image: linear-gradient(to bottom, #393f3f);
    text-shadow: none;
    icon-shadow: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0);
    border-color: transparent; }
