debug {
  background-color: blue; }

* {
  engine: adwaita;
  padding: 0;
  background-clip: padding-box;
  -GtkToolButton-icon-spacing: 4;
  -GtkTextView-error-underline-color: #cc0000;
  -GtkPaned-handle-size: 5;
  -GtkCheckButton-indicator-size: 16;
  -GtkCheckMenuItem-indicator-size: 12;
  /* The size for scrollbars. The slider is 2px smaller, but we keep it
   * up so that the whole area is sensitive to button presses for the
   * slider. The stepper button is larger in both directions, the slider
   * only in the width
   */
  -GtkScrolledWindow-scrollbar-spacing: 0;
  -GtkScrolledWindow-scrollbars-within-bevel: 1;
  -GtkToolItemGroup-expander-size: 11;
  -GtkExpander-expander-size: 11;
  -GtkTreeView-expander-size: 11;
  -GtkTreeView-horizontal-separator: 4;
  -GtkMenu-horizontal-padding: 0;
  -GtkMenu-vertical-padding: 0;
  -GtkWidget-link-color: #98b9dc;
  -GtkWidget-visited-link-color: #98b9dc;
  -GtkWidget-focus-padding: 2;
  -GtkWidget-focus-line-width: 1;
  -GtkWindow-resize-grip-width: 0;
  -GtkWindow-resize-grip-height: 0;
  outline-color: rgba(46, 52, 54, 0.7);
  outline-style: dashed;
  outline-offset: 2px; }

/***************
 * Base States *
 ***************/
.background {
  color: #2e3436;
  background-color: #ededed; }

.background:backdrop {
  /* I want everything nice and flat in the unfocused window */
  text-shadow: none;
  icon-shadow: none;
  color: #454f52; }

*:selected,
*:selected:focus {
  background-color: #729fcf;
  color: white; }

*:selected:backdrop {
  background-color: #729fcf;
  color: white; }

*:insensitive {
  background-color: transparent;
  color: #748489;
  border-color: #bababa; }

*:insensitive:backdrop {
  /* I want everything nice and flat in the unfocused window */
  text-shadow: none;
  icon-shadow: none;
  color: #454f52; }

/* Apply effects to insensitive and prelit images */
*:insensitive {
  -gtk-image-effect: dim; }

*:hover {
  -gtk-image-effect: highlight; }

*:hover {
  -gtk-image-effect: highlight; }

.gtkstyle-fallback {
  background-color: #ededed;
  color: #2e3436; }

.gtkstyle-fallback:prelight {
  background-color: white;
  color: #2e3436; }

.gtkstyle-fallback:active {
  background-color: lightgray;
  color: #2e3436; }

.gtkstyle-fallback:insensitive {
  background-color: transparent;
  color: #748489; }

.gtkstyle-fallback:selected {
  background-color: #729fcf;
  color: white; }

GtkImage,
GtkImage:insensitive,
GtkLabel,
GtkLabel:insensitive,
GtkBox,
GtkBox:insensitive,
GtkGrid,
GtkGrid:insensitive {
  background-color: transparent; }

@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn); } }
.spinner {
  background-image: none;
  background-color: blue;
  opacity: 0;
  /* non spinning spinner makes no sense */
  -gtk-icon-source: url("assets/spinner.svg"); }
  .spinner:active {
    opacity: 1;
    animation: spin 1s linear infinite; }
    .spinner:active:insensitive {
      opacity: 0.5; }

/****************
 * Text Entries *
 ****************/
.entry, .linked .entry {
  padding: 4px;
  color: #2e3436;
  border-radius: 3px;
  transition: all 200ms ease-out;
  border: 1px solid #a1a1a1;
  background-image: linear-gradient(to bottom, #cccccc 1%, #e6e6e6 10%, white);
  background-color: transparent; }
  .entry:insensitive, .entry:backdrop:insensitive {
    color: #748489;
    background-image: none;
    background-color: transparent;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px rgba(255, 255, 255, 0.05);
    /* doesn't have margin to paint on :( */ }
  .entry:focus {
    border-color: #729fcf;
    box-shadow: inset 0 0 2px 1px rgba(114, 159, 207, 0.5); }
  .entry GtkLabel, .linked .entry GtkLabel {
    text-shadow: 0 1px red; }

.linked .entry:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0; }
.linked .entry:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

/***********
 * Buttons *
 ***********/
.button, .linked .button, GtkComboBox .button,
.toolbar .button.raised,
.toolbar .raised .button,
.toolbar GtkComboBox .button,
.spinbutton.vertical .button {
  border-radius: 3px;
  transition: all 200ms ease-out;
  padding: 4px;
  background-color: transparent;
  border: 1px solid #a1a1a1;
  background-color: #ededed;
  background-image: linear-gradient(to bottom, white, #ededed 40%, lightgray);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px rgba(255, 255, 255, 0.05);
  text-shadow: 0 1px white;
  icon-shadow: 0 1px white;
  /* Suggested and Destructive Action buttons */ }
  .button:hover,
  .toolbar .button.raised:hover,
  .toolbar .raised .button:hover,
  .toolbar GtkComboBox .button:hover,
  .spinbutton.vertical .button:hover {
    border: 1px solid #a1a1a1;
    background-color: #ededed;
    background-image: linear-gradient(to bottom, white, #ededed 40%, lightgray);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px rgba(255, 255, 255, 0.05);
    text-shadow: 0 1px white;
    icon-shadow: 0 1px white;
    background-image: linear-gradient(to bottom, white, #f7f7f7 40%, #ededed); }
  .button:active,
  .toolbar .button.raised:active,
  .toolbar .raised .button:active,
  .toolbar GtkComboBox .button:active,
  .spinbutton.vertical .button:active {
    border: 1px solid #a1a1a1;
    background-color: #ededed;
    background-image: linear-gradient(to bottom, white, #ededed 40%, lightgray);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px rgba(255, 255, 255, 0.05);
    text-shadow: 0 1px white;
    icon-shadow: 0 1px white;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.05);
    background-image: linear-gradient(to bottom, #bababa, #c7c7c7 5%, lightgray);
    text-shadow: 0 1px #ededed;
    icon-shadow: 0 1px #ededed; }
  .button:backdrop,
  .toolbar .button.raised:backdrop,
  .toolbar .raised .button:backdrop,
  .toolbar GtkComboBox .button:backdrop,
  .spinbutton.vertical .button:backdrop {
    border: 1px solid #a1a1a1;
    background-color: #ededed;
    background-image: linear-gradient(to bottom, white, #ededed 40%, lightgray);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px rgba(255, 255, 255, 0.05);
    text-shadow: 0 1px white;
    icon-shadow: 0 1px white;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
    color: #748489; }
    .button:backdrop:active,
    .toolbar .button.raised:backdrop:active,
    .toolbar .raised .button:backdrop:active,
    .toolbar GtkComboBox .button:backdrop:active,
    .spinbutton.vertical .button:backdrop:active {
      border: 1px solid #878787;
      background-color: lightgray;
      background-image: linear-gradient(to bottom, #ededed, lightgray 40%, #bababa);
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px rgba(255, 255, 255, 0.05);
      text-shadow: 0 1px white;
      icon-shadow: 0 1px white;
      background-image: none;
      box-shadow: none;
      text-shadow: none;
      icon-shadow: none;
      box-shadow: none;
      border: 1px solid #a1a1a1;
      color: #2e3436; }
  .button:insensitive,
  .toolbar .button.raised:insensitive,
  .toolbar .raised .button:insensitive,
  .toolbar GtkComboBox .button:insensitive,
  .spinbutton.vertical .button:insensitive {
    border: 1px solid #a1a1a1;
    background-color: #ededed;
    background-image: linear-gradient(to bottom, white, #ededed 40%, lightgray);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px rgba(255, 255, 255, 0.05);
    text-shadow: 0 1px white;
    icon-shadow: 0 1px white;
    box-shadow: 0 1px rgba(255, 255, 255, 0.05);
    background-color: rgba(237, 237, 237, 0.5);
    background-image: none;
    text-shadow: none;
    icon-shadow: none; }
    .button:insensitive:active,
    .toolbar .button.raised:insensitive:active,
    .toolbar .raised .button:insensitive:active,
    .toolbar GtkComboBox .button:insensitive:active,
    .spinbutton.vertical .button:insensitive:active {
      border: 1px solid #a1a1a1;
      background-color: #ededed;
      background-image: linear-gradient(to bottom, white, #ededed 40%, lightgray);
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px rgba(255, 255, 255, 0.05);
      text-shadow: 0 1px white;
      icon-shadow: 0 1px white;
      box-shadow: 0 1px rgba(255, 255, 255, 0.05);
      background-color: rgba(237, 237, 237, 0.5);
      background-image: none;
      text-shadow: none;
      icon-shadow: none;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.05); }
  .button:backdrop:insensitive,
  .toolbar .button.raised:backdrop:insensitive,
  .toolbar .raised .button:backdrop:insensitive,
  .toolbar GtkComboBox .button:backdrop:insensitive,
  .spinbutton.vertical .button:backdrop:insensitive {
    border: 1px solid rgba(161, 161, 161, 0.5);
    background-color: rgba(237, 237, 237, 0.5);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(237, 237, 237, 0.5) 40%, rgba(211, 211, 211, 0.5));
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px rgba(255, 255, 255, 0.05);
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    icon-shadow: 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px rgba(255, 255, 255, 0.05);
    background-color: rgba(237, 237, 237, 0);
    background-image: none;
    text-shadow: none;
    icon-shadow: none; }
  .button.suggested-action,
  .toolbar .button.raised.suggested-action,
  .toolbar .raised .button.suggested-action,
  .toolbar GtkComboBox .suggested-action.button,
  .spinbutton.vertical .button.suggested-action {
    border: 1px solid #2b537d;
    background-color: #729fcf;
    background-image: linear-gradient(to bottom, #98b9dc, #729fcf 40%, #4c85c2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px rgba(255, 255, 255, 0.05);
    text-shadow: 0 1px white;
    icon-shadow: 0 1px white;
    color: white; }
    .button.suggested-action:active, .button.suggested-action:hover:active,
    .toolbar .button.raised.suggested-action:active,
    .toolbar .button.raised.suggested-action:hover:active,
    .toolbar .raised .button.suggested-action:active,
    .toolbar .raised .button.suggested-action:hover:active,
    .toolbar GtkComboBox .suggested-action.button:active,
    .toolbar GtkComboBox .suggested-action.button:hover:active,
    .spinbutton.vertical .button.suggested-action:active,
    .spinbutton.vertical .button.suggested-action:hover:active {
      border: 1px solid #2b537d;
      background-color: #729fcf;
      background-image: linear-gradient(to bottom, #98b9dc, #729fcf 40%, #4c85c2);
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px rgba(255, 255, 255, 0.05);
      text-shadow: 0 1px white;
      icon-shadow: 0 1px white;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.05);
      background-image: linear-gradient(to bottom, #386ca3, #3e78b6 5%, #4c85c2);
      text-shadow: 0 1px #729fcf;
      icon-shadow: 0 1px #729fcf; }
    .button.suggested-action:hover,
    .toolbar .button.raised.suggested-action:hover,
    .toolbar .raised .button.suggested-action:hover,
    .toolbar GtkComboBox .suggested-action.button:hover,
    .spinbutton.vertical .button.suggested-action:hover {
      border: 1px solid #2b537d;
      background-color: #729fcf;
      background-image: linear-gradient(to bottom, #98b9dc, #729fcf 40%, #4c85c2);
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px rgba(255, 255, 255, 0.05);
      text-shadow: 0 1px white;
      icon-shadow: 0 1px white;
      background-image: linear-gradient(to bottom, #a7c3e1, #81a9d4 40%, #729fcf); }
    .button.suggested-action:backdrop,
    .toolbar .button.raised.suggested-action:backdrop,
    .toolbar .raised .button.suggested-action:backdrop,
    .toolbar GtkComboBox .suggested-action.button:backdrop,
    .spinbutton.vertical .button.suggested-action:backdrop {
      border: 1px solid #2b537d;
      background-color: #729fcf;
      background-image: linear-gradient(to bottom, #98b9dc, #729fcf 40%, #4c85c2);
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px rgba(255, 255, 255, 0.05);
      text-shadow: 0 1px white;
      icon-shadow: 0 1px white;
      background-image: none;
      box-shadow: none;
      text-shadow: none;
      icon-shadow: none; }
    .button.suggested-action:insensitive,
    .toolbar .button.raised.suggested-action:insensitive,
    .toolbar .raised .button.suggested-action:insensitive,
    .toolbar GtkComboBox .suggested-action.button:insensitive,
    .spinbutton.vertical .button.suggested-action:insensitive {
      color: #748489;
      border: 1px solid #a1a1a1;
      background-color: #ededed;
      background-image: linear-gradient(to bottom, white, #ededed 40%, lightgray);
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px rgba(255, 255, 255, 0.05);
      text-shadow: 0 1px white;
      icon-shadow: 0 1px white;
      box-shadow: 0 1px rgba(255, 255, 255, 0.05);
      background-color: rgba(237, 237, 237, 0.5);
      background-image: none;
      text-shadow: none;
      icon-shadow: none; }
      .button.suggested-action:insensitive:backdrop,
      .toolbar .button.raised.suggested-action:insensitive:backdrop,
      .toolbar .raised .button.suggested-action:insensitive:backdrop,
      .toolbar GtkComboBox .suggested-action.button:insensitive:backdrop,
      .spinbutton.vertical .button.suggested-action:insensitive:backdrop {
        border: 1px solid rgba(161, 161, 161, 0.5);
        background-color: rgba(237, 237, 237, 0.5);
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(237, 237, 237, 0.5) 40%, rgba(211, 211, 211, 0.5));
        box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px rgba(255, 255, 255, 0.05);
        text-shadow: 0 1px rgba(255, 255, 255, 0.5);
        icon-shadow: 0 1px rgba(255, 255, 255, 0.5);
        box-shadow: 0 1px rgba(255, 255, 255, 0.05);
        background-color: rgba(237, 237, 237, 0);
        background-image: none;
        text-shadow: none;
        icon-shadow: none; }
    .button.suggested-action GtkLabel:backdrop:insensitive,
    .toolbar .button.raised.suggested-action GtkLabel:backdrop:insensitive,
    .toolbar .raised .button.suggested-action GtkLabel:backdrop:insensitive,
    .toolbar GtkComboBox .suggested-action.button GtkLabel:backdrop:insensitive,
    .spinbutton.vertical .button.suggested-action GtkLabel:backdrop:insensitive {
      color: rgba(116, 132, 137, 0.5); }
  .button.destructive-action,
  .toolbar .button.raised.destructive-action,
  .toolbar .raised .button.destructive-action,
  .toolbar GtkComboBox .destructive-action.button,
  .spinbutton.vertical .button.destructive-action {
    border: 1px solid #760909;
    background-color: #ef2929;
    background-image: linear-gradient(to bottom, #f35858, #ef2929 40%, #d51010);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px rgba(255, 255, 255, 0.05);
    text-shadow: 0 1px white;
    icon-shadow: 0 1px white;
    color: white; }
    .button.destructive-action:active, .button.destructive-action:hover:active,
    .toolbar .button.raised.destructive-action:active,
    .toolbar .button.raised.destructive-action:hover:active,
    .toolbar .raised .button.destructive-action:active,
    .toolbar .raised .button.destructive-action:hover:active,
    .toolbar GtkComboBox .destructive-action.button:active,
    .toolbar GtkComboBox .destructive-action.button:hover:active,
    .spinbutton.vertical .button.destructive-action:active,
    .spinbutton.vertical .button.destructive-action:hover:active {
      border: 1px solid #760909;
      background-color: #ef2929;
      background-image: linear-gradient(to bottom, #f35858, #ef2929 40%, #d51010);
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px rgba(255, 255, 255, 0.05);
      text-shadow: 0 1px white;
      icon-shadow: 0 1px white;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.05);
      background-image: linear-gradient(to bottom, #a60c0c, #bd0e0e 5%, #d51010);
      text-shadow: 0 1px #ef2929;
      icon-shadow: 0 1px #ef2929; }
    .button.destructive-action:hover,
    .toolbar .button.raised.destructive-action:hover,
    .toolbar .raised .button.destructive-action:hover,
    .toolbar GtkComboBox .destructive-action.button:hover,
    .spinbutton.vertical .button.destructive-action:hover {
      border: 1px solid #760909;
      background-color: #ef2929;
      background-image: linear-gradient(to bottom, #f35858, #ef2929 40%, #d51010);
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px rgba(255, 255, 255, 0.05);
      text-shadow: 0 1px white;
      icon-shadow: 0 1px white;
      background-image: linear-gradient(to bottom, #f46b6b, #f03c3c 40%, #ef2929); }
    .button.destructive-action:backdrop,
    .toolbar .button.raised.destructive-action:backdrop,
    .toolbar .raised .button.destructive-action:backdrop,
    .toolbar GtkComboBox .destructive-action.button:backdrop,
    .spinbutton.vertical .button.destructive-action:backdrop {
      border: 1px solid #760909;
      background-color: #ef2929;
      background-image: linear-gradient(to bottom, #f35858, #ef2929 40%, #d51010);
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px rgba(255, 255, 255, 0.05);
      text-shadow: 0 1px white;
      icon-shadow: 0 1px white;
      background-image: none;
      box-shadow: none;
      text-shadow: none;
      icon-shadow: none; }
    .button.destructive-action:insensitive,
    .toolbar .button.raised.destructive-action:insensitive,
    .toolbar .raised .button.destructive-action:insensitive,
    .toolbar GtkComboBox .destructive-action.button:insensitive,
    .spinbutton.vertical .button.destructive-action:insensitive {
      color: #748489;
      border: 1px solid #a1a1a1;
      background-color: #ededed;
      background-image: linear-gradient(to bottom, white, #ededed 40%, lightgray);
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px rgba(255, 255, 255, 0.05);
      text-shadow: 0 1px white;
      icon-shadow: 0 1px white;
      box-shadow: 0 1px rgba(255, 255, 255, 0.05);
      background-color: rgba(237, 237, 237, 0.5);
      background-image: none;
      text-shadow: none;
      icon-shadow: none; }
      .button.destructive-action:insensitive:backdrop,
      .toolbar .button.raised.destructive-action:insensitive:backdrop,
      .toolbar .raised .button.destructive-action:insensitive:backdrop,
      .toolbar GtkComboBox .destructive-action.button:insensitive:backdrop,
      .spinbutton.vertical .button.destructive-action:insensitive:backdrop {
        border: 1px solid rgba(161, 161, 161, 0.5);
        background-color: rgba(237, 237, 237, 0.5);
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(237, 237, 237, 0.5) 40%, rgba(211, 211, 211, 0.5));
        box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px rgba(255, 255, 255, 0.05);
        text-shadow: 0 1px rgba(255, 255, 255, 0.5);
        icon-shadow: 0 1px rgba(255, 255, 255, 0.5);
        box-shadow: 0 1px rgba(255, 255, 255, 0.05);
        background-color: rgba(237, 237, 237, 0);
        background-image: none;
        text-shadow: none;
        icon-shadow: none; }
    .button.destructive-action GtkLabel:backdrop:insensitive,
    .toolbar .button.raised.destructive-action GtkLabel:backdrop:insensitive,
    .toolbar .raised .button.destructive-action GtkLabel:backdrop:insensitive,
    .toolbar GtkComboBox .destructive-action.button GtkLabel:backdrop:insensitive,
    .spinbutton.vertical .button.destructive-action GtkLabel:backdrop:insensitive {
      color: rgba(116, 132, 137, 0.5); }

/* menu/popover buttons */
.menuitem.button, .menuitem.button:active, .menuitem.button:insensitive, .menuitem.button:active:insensitive {
  color: #2e3436;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  border-image: none;
  border-style: none;
  box-shadow: none; }
  .menuitem.button:backdrop, .menuitem.button:backdrop:active:insensitive, .menuitem.button:hover:backdrop, .menuitem.button:insensitive:backdrop, .menuitem.button:active:insensitive:backdrop, .menuitem.button:active:backdrop, .menuitem.button:active:hover:backdrop, .menuitem.button:active:selected:backdrop {
    text-shadow: none;
    icon-shadow: none;
    color: #748489;
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none; }

.button.titlebutton {
  padding: 9px;
  border-width: 0;
  background-image: none;
  box-shadow: none; }
  .button.titlebutton:hover {
    padding: 8px;
    border: 1px solid #a1a1a1;
    background-color: #ededed;
    background-image: linear-gradient(to bottom, white, #ededed 40%, lightgray);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px rgba(255, 255, 255, 0.05);
    text-shadow: 0 1px white;
    icon-shadow: 0 1px white; }
  .button.titlebutton:active {
    padding: 8px;
    border: 1px solid #a1a1a1;
    background-color: #ededed;
    background-image: linear-gradient(to bottom, white, #ededed 40%, lightgray);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), 0 1px rgba(255, 255, 255, 0.05);
    text-shadow: 0 1px white;
    icon-shadow: 0 1px white;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.05);
    background-image: linear-gradient(to bottom, #bababa, #c7c7c7 5%, lightgray);
    text-shadow: 0 1px #ededed;
    icon-shadow: 0 1px #ededed; }

.linked .button {
  padding: 6px;
  border-radius: 0;
  border-right-width: 0; }
  .linked .button:first-child {
    border-radius: 3px 0 0 3px;
    border-width: 1px 0 1px 1px; }
  .linked .button:last-child {
    border-radius: 0 3px 3px 0;
    border-width: 1px; }
  .linked .button:only-child {
    border-radius: 3px;
    border-width: 1px; }

.header-bar .button.text-button {
  padding: 6px 8px 5px;
  /* due to font metrics the image buttons are 1px shorter */ }
.header-bar .button.image-button {
  padding: 8px; }
.header-bar .button.titlebutton {
  background-color: transparent; }

/**************
 * ComboBoxes *
 **************/
GtkComboBox {
  padding: 0;
  -GtkComboBox-arrow-scaling: 0.5;
  -GtkComboBox-shadow-type: none; }
  GtkComboBox .separator {
    /* always disable separators */
    -GtkWidget-wide-separators: true;
    -GtkWidget-horizontal-separator: 0;
    -GtkWidget-vertical-separator: 0; }
  GtkComboBox.combobox-entry .entry:first-child {
    border-radius: 3px 0 0 3px;
    border-right: 0; }
  GtkComboBox.combobox-entry .button:first-child {
    border-radius: 3px 0 0 3px; }
  GtkComboBox.combobox-entry .entry:last-child {
    border-radius: 0 3px 3px 0;
    border-left: 0; }
  GtkComboBox.combobox-entry .button:last-child {
    border-radius: 0 3px 3px 0; }
  GtkComboBox .linked .button, .linked GtkComboBox .button, GtkComboBox .button {
    padding: 4px 6px; }

/***************
 * Header bars *
 ***************/
.header-bar {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #a1a1a1;
  border-radius: 7px 7px 0 0;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #f2f2f2, #e0e0e0);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.05);
  padding: 6px; }
  .header-bar:backdrop {
    background-image: none;
    background-color: #ededed; }
  .header-bar .title {
    font: Bold;
    padding: 0px 12px; }
  .header-bar .subtitle {
    font-size: 80%;
    padding: 0 12px; }
  .header-bar > GtkBox > .separator.vertical {
    -GtkWidget-wide-separators: 1;
    -GtkWidget-separator-width: 2px;
    background-color: transparent;
    border-width: 0 1px;
    border-style: solid;
    border-color: transparent;
    border-image: -gtk-scaled(url("assets/header-separator.png"), url("assets/header-separator@2.png")) 0 1 0 1/0 1px 0 1px stretch; }
  .header-bar.selection-mode {
    color: #3e78b6;
    text-shadow: 0 1px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom, #85acd5, #7aa4d2); }

.window-frame.tiled .header-bar {
  border-radius: 0;
  /* FIXME doesn't work */ }

/***************
 * Popovers   *
 ***************/
GtkPopover {
  border-radius: 5px;
  background-clip: border-box;
  /*
  background-color: @osd_popover_bg;
  */
  background-color: #ededed;
  border-color: #a1a1a1;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  margin: 10px;
  padding: 2px; }
  GtkPopover:backdrop {
    box-shadow: none; }
  GtkPopover > .list, GtkPopover > .view, GtkPopover > .toolbar {
    background-color: transparent; }
  GtkPopover .separator {
    font-size: 80%;
    font-weight: bold;
    color: rgba(46, 52, 54, 0.6);
    text-shadow: none;
    background-color: transparent;
    icon-shadow: none;
    border: 0; }

/*****************
 * Notebooks and *
 * Tabs          *
 *****************/
.notebook {
  padding: 0;
  border-style: solid;
  border-color: #a1a1a1;
  border-top: 1px solid #a1a1a1;
  background-color: white;
  -GtkNotebook-initial-gap: 10;
  -GtkNotebook-arrow-spacing: 5;
  -GtkNotebook-tab-curvature: 0;
  -GtkNotebook-tab-overlap: 1;
  -GtkNotebook-has-tab-gap: false;
  -GtkWidget-focus-padding: 0;
  -GtkWidget-focus-line-width: 0; }

.notebook.frame {
  border-width: 1px; }

.notebook.header {
  background-color: #e0e0e0;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.03), inset 0 2px rgba(0, 0, 0, 0.03), inset 0 1px rgba(0, 0, 0, 0.03);
  border-width: 0px; }

.notebook.header.frame {
  border: 1px solid #a1a1a1; }
  .notebook.header.frame.top {
    border-bottom: none; }
  .notebook.header.frame.bottom {
    border-top: none; }
  .notebook.header.frame.right {
    border-left: none; }
  .notebook.header.frame.left {
    border-right: none; }

.notebook tab {
  border-width: 0;
  background-color: transparent; }
  .notebook tab.top, .notebook tab.bottom {
    padding: 8px 20px; }
  .notebook tab.left, .notebook tab.right {
    padding: 5px 20px; }

.notebook tab GtkLabel {
  font-weight: bold;
  color: #748489; }
  .notebook tab GtkLabel.active-page {
    color: #2e3436; }
  .notebook tab GtkLabel.prelight-page {
    color: #515c5f; }

.notebook tab GtkLabel.active-page {
  color: #2e3436; }

.notebook tab.top:hover {
  box-shadow: inset 0 -2px #a1a1a1; }
.notebook tab.top:active {
  box-shadow: inset 0 -2px red; }
.notebook tab.bottom:hover {
  box-shadow: inset 0 2px #a1a1a1; }
.notebook tab.bottom:active {
  box-shadow: inset 0 2px red; }
.notebook tab.right:hover {
  box-shadow: inset 2px 0 #a1a1a1; }
.notebook tab.right:active {
  box-shadow: inset 2px 0 red; }
.notebook tab.left:hover {
  box-shadow: inset -2px 0 #a1a1a1; }
.notebook tab.left:active {
  box-shadow: inset -2px 0 red; }

/***************
 * WM Stuff    *
 ***************/
.window-frame {
  border-radius: 7px 7px 0 0;
  /* lamefun trick to get rounded borders regardless of CSD use */
  border-width: 0px;
  box-shadow: 0 2px 10px 4px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.25);
  /* this is used for the resize cursor area */
  margin: 10px; }
  .window-frame:backdrop {
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.25); }
  .window-frame.tiled {
    border-radius: 0;
    background-color: #ededed; }
