/*
Syntax error: Undefined variable: "$borders_color".
        on line 474 of _common.scss
        from line 23 of ./gtk-contained-dark.scss

Backtrace:
_common.scss:474
./gtk-contained-dark.scss:23
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/script/tree/variable.rb:49:in `_perform'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/script/tree/node.rb:50:in `perform'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:366:in `visit_prop'
org/jruby/RubyBasicObject.java:1665:in `__send__'
org/jruby/RubyKernel.java:2090:in `send'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `visit'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/stack.rb:79:in `with_base'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/stack.rb:79:in `with_base'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `visit'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:389:in `visit_rule'
org/jruby/RubyArray.java:2361:in `map'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:389:in `visit_rule'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
org/jruby/RubyBasicObject.java:1665:in `__send__'
org/jruby/RubyKernel.java:2090:in `send'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `visit'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/stack.rb:79:in `with_base'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/stack.rb:79:in `with_base'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `visit'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:297:in `visit_import'
org/jruby/RubyArray.java:2361:in `map'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:297:in `visit_import'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/stack.rb:88:in `with_import'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/stack.rb:88:in `with_import'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
org/jruby/RubyBasicObject.java:1665:in `__send__'
org/jruby/RubyKernel.java:2090:in `send'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `visit'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/stack.rb:79:in `with_base'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/stack.rb:79:in `with_base'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `visit'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
org/jruby/RubyArray.java:2361:in `map'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:161:in `visit_children'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
org/jruby/RubyBasicObject.java:1665:in `__send__'
org/jruby/RubyKernel.java:2090:in `send'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:151:in `visit'
org/jruby/RubyBasicObject.java:1665:in `__send__'
org/jruby/RubyKernel.java:2090:in `send'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/engine.rb:274:in `render'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:189:in `update_stylesheets'
org/jruby/RubyArray.java:1613:in `each'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:393:in `on_file_changed'
/usr/local/share/gems/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:248:in `watch'
org/jruby/RubyProc.java:249:in `call'
/usr/local/share/gems/gems/sass-3.3.7/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/usr/local/share/gems/gems/sass-3.3.7/vendor/listen/lib/listen/listener.rb:290:in `initialize_adapter'
org/jruby/RubyProc.java:249:in `call'
/usr/local/share/gems/gems/sass-3.3.7/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/usr/local/share/gems/gems/sass-3.3.7/vendor/listen/lib/listen/adapter.rb:299:in `start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$borders_color\".\A         on line 474 of _common.scss\A         from line 23 of ./gtk-contained-dark.scss"; }
