$variant: 'dark';

// Color definitions
$theme_base_color: #333;
$theme_bg_color: #393f3f;
$theme_fg_color: #eeeeec;

$theme_selected_fg_color: lighten($theme_fg_color,10%);
$theme_selected_bg_color: darken(#4a90d9,10%); //tango too light

$borders_color: darken($theme_bg_color,12%);
$borders_edge: transparentize($theme_fg_color,.9);

$theme_shade: rgba(0,0,0,.6); //shadow seems to be a reserved word
$wm_shadow: transparentize(black, 0.15);

$link_color: lighten($theme_selected_bg_color,10%);

$warning_color: #f57900;
$error_color: #cc0000;
$success_color: $theme_selected_bg_color;
$destructive_color: darken(#ef2929,10%);

$_insensitive_fg_color: lighten($theme_fg_color, 10%);
$_insensitive_bg_color: transparent;
$_insensitive_borders_color: $borders_color;

//colors for the backdrop state, derived from the main colors.
$_backdrop_base_color: darken($theme_base_color,5%);
$_backdrop_bg_color: $theme_bg_color;
$_backdrop_fg_color: $theme_fg_color;
$_backdrop_insensitive_color: lighten($_insensitive_fg_color,5%); //FIXME
$_backdrop_borders_color: $borders_color;


@import 'drawing';
@import 'common';
