$variant: 'dark';

// Color definitions
$theme_base_color: #333;
$theme_bg_color: #393f3f;
$theme_fg_color: #eeeeec;
$theme_selected_fg_color: lighten($theme_fg_color,10%);
$theme_selected_bg_color: darken(#4a90d9,10%);
$borders: darken($theme_bg_color,30%);
$borders_edge: transparentize($theme_base_color,.4);

$link_color: lighten($theme_selected_bg_color,10%);
$warning_color: #f57900;
$error_color: #cc0000;
$success_color: $theme_selected_bg_color;

$insensitive_fg_color: lighten($theme_fg_color, 10%);
$insensitive_bg_color: transparent;

@import 'drawing';
@import 'common';
